/* style sheet for recipe-app */

#titles {
    display: flex;
    justify-content: space-evenly;
}

#links {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color:white;
    padding-bottom: 10px;
    padding-left: 20px;
}

#innercntr {
    display: flex;
    justify-content: space-between;

}

#hdr {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

#center {
    padding-left: 20px;

}

.list1 {
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    padding: 5px;
}

#submit_cuisine {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 3px;margin-top: 15px;


}
.field {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.container {
    display: flex;
    width : 100%;

}

#left {
    max-width: 40%;
    border: 1px solid red;
    padding: 10pt;
    background-color: azure;
}

#main {
    padding-right: 10px;
}