/* style sheet for recipe-app */
@font-face {
    font-family: greek;
    src: url(../static/Greconian.ttf)
}

html {
    background-image: url(../static/Cork-Grey.jpeg);
}

.header {
    font-family: greek;
    background-image: url(../static/manna.jpeg);
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width:100%; 
    margin: 0 auto
}

a.link {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

a.link:hover {
    font-style: italic;
    font-size: 110%;
}

#titles {
    display: flex;
    justify-content: space-evenly;
}

#links {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color:white;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: bold;
}

#innercntr {
    display: flex;
    justify-content: space-between;
}

#hdr {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 30px;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

#center {
    padding-left: 20px;
}

.list1 {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    padding: 5px;
}

#main {
    display: flex;
    justify-content: center;
}

#login {
    align-self: center;
}

.field_search {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(151, 180, 204, 0.333);
    margin: 3pt;
    padding: 1pt;
    padding-left: 5pt;
    border-radius: 10px;
    font-size: 1.1em;
}

.field_add_recipe {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin: 3pt;
    padding: 1pt;
    padding-left: 5pt;
    border-radius: 10px;
    font-size: 1.5em;
}

.field {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin: 3pt;
    padding: 1pt;
    padding-left: 5pt;
    border-radius: 10px;
    font-size: 1.5em;
}

.field2 {
    display: flex;
    flex-flow: column;
    width: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 3vw;;
}

.field3 {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: bold;
    margin-bottom: 5px;
}

.field4 {
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin: 3pt;
    padding: 1pt;
    padding-left: 5pt;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 1.5em;
    position: relative;
    left: 8vw;
}

.field5 {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin: 3pt;
    padding: 1pt;
    padding-left: 5pt;
    border-radius: 10px;
    font-size: 1.5em; 
    max-height: 50px;
}

input {
    font-size: 1.1em;
}

#meta_measure {
    margin-right: -30px;
}

#meta_ingredient {
    margin-right: -10px;
}

.container {
    display: flex;
    width : 100%;
    justify-content: center;
    align-items: center;
}

#left {
    max-width: 40%;
    min-width: fit-content;
    padding: 10pt;
    background-color: #8eb6b3;
}

#main {
    padding-right: 10px;
}

#ingredient {
    margin-right: 10px;
}

#ingredient_alt {
    margin-right: 40px;
}

#amount {
    margin-right: 10px;
}

#measure {
    margin-right: 30px;
}

#ingredient1, #ingredient2, #ingredient3, #ingredient4, #ingredient5, #ingredient6, #ingredient7, #ingredient8, #ingredient9, #ingredient10, #ingredient11, #ingredient12, #ingredient13, #ingredient14, #ingredient15, #ingredient16, #ingredient17, #ingredient18, #ingredient19, #ingredient20, #ingredient21, #ingredient22, #ingredient23, #ingredient24, #ingredient25, #ingredient26, #ingredient27, #ingredient28, #ingredient29, #ingredient30  {
    padding: 1px;
}

#measure1, #measure2, #measure3, #measure4, #measure5, #measure6, #measure7, #measure8, #measure9, #measure10, #measure11, #measure12, #measure13, #measure14, #measure15, #measure16, #measure17, #measure18, #measure19, #measure20, #measure21, #measure22, #measure23, #measure24, #measure25, #measure26, #measure27, #measure28, #measure29, #measure30 {
    padding: 1px;
} 

.tile {
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin: 3pt;
    padding: 1pt;
    padding-left: 25pt;
    border-radius: 10px;
}

#submit, #submit_amount, #submit_post, #first_week, #second_week, #submit_cuisine, #submit_recipes {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
    #submit:not(:disabled):hover, .button:not(:disabled):hover{
        transform: scale(1.05);
    }
  
    #submit:not(:disabled):hover:active, .button:not(:disabled):hover:active{
        transform: scale(1.05) translateY(.125rem);
    }
  
    #submit:focus, .button:focus{
        outline: 0 solid transparent;
    }
  
    #submit:focus:before, .button:focus:before{
        content: "";
        left: calc(-1*.375rem);
        pointer-events: none;
        position: absolute;
        top: calc(-1*.375rem);
        transition: border-radius;
        user-select: none;
    }
  
    #submit:focus:not(:focus-visible), .button:focus:not(:focus-visible){
        outline: 0 solid transparent;
    }
  
    #submit:focus:not(:focus-visible):before, .button:focus:not(:focus-visible):before {
        border-width: 0;
    }
  
    #submit:not(:disabled):active, .button:not(:disabled):active {
        transform: translateY(.125rem);
    }

#submit_cuisine {
    position:relative;
    top: 15px;
    left: 5px;
}

#submit_recipes {
    position: relative;
    left: 75vw;
    top: 10px
}

#submit_amount {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#description {
    width: 15vw;
}

#recipe_name {
    width: 15vw;
    font-size: 40px;
}

select {
    border-radius: 3px;
    font-size: large;
}

#cuisine {
    font-size: 1.1em;
}

#recipe_description {
    font-size: 1.1em;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: black;
}

#method-input {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    align-self: flex-start;
    padding-left: 5vw;
}

#method {
    font-size: 1.3em;    
}

#ing-input {
    align-self:flex-start;
}

ul {
    font-size: 1.5em;
    min-width: 30vw;
}

#first_cuisine, #second_cuisine, #third_cuisine, #fourth_cuisine, #fifth_cuisine {
    width: 150px;
    text-align: center;
}

#which_week {
    position: relative;
    left: 40vw;
    font-size: 40px;
}

#which_week2 {
    position: relative;
    left: 30vw;
    font-size: 40px;
}

.day {
    width: 400px;
}

#email {
    font-size: 1.5em;
    padding-left: 10px;
}
