{% extends 'layout.html'%}

{% block body %}
<div style="padding-left:40px">
    {% if form %}
        <h1>Add a Recipe</h1>
        <form method = 'POST'>
        <p>{{  form.hidden_tag() }}
        <br>
        <h2> Add Recipe details</h2>
        <br>
        <div class="field">
            <p>{{  form.name.label }}</p> <p>{{  form.name }}</p>
        </div>
        <div class="field">
            <p>{{  form.recipe_description.label }}</p> <p>{{  form.recipe_description }}</p>
        </div>
        <div class="field">
            <p>{{  form.cuisine.label }}</p> <p>{{  form.cuisine }}</p>
        </div>
        <div id='titles'>
            <p>{{  form.ingredient1.label }}</p> <p>{{  form.ingredient_alt1.label }}</p> <p>{{  form.amount1.label }}</p> <p>{{  form.measure1.label }}</p> <p>{{  form.ingredient_prep1.label }}</p>
        </div>
        <div class="list">{{  form.ingredient1 }}  {{  form.ingredient_alt1 }}  {{  form.amount1 }}  {{  form.measure1 }}  {{  form.ingredient_prep1 }} </div> 
        <div class="list">{{  form.ingredient2 }}  {{  form.ingredient_alt2 }}  {{  form.amount2 }}  {{  form.measure2 }}  {{  form.ingredient_prep2 }} </div> 
        <div class="list">{{  form.ingredient3 }}  {{  form.ingredient_alt3 }}  {{  form.amount3 }}  {{  form.measure3 }}  {{  form.ingredient_prep3 }} </div> 
        <div class="list">{{  form.ingredient4 }}  {{  form.ingredient_alt4 }}  {{  form.amount4 }}  {{  form.measure4 }}  {{  form.ingredient_prep4 }} </div> 
        <div class="list">{{  form.ingredient5 }}  {{  form.ingredient_alt5 }}  {{  form.amount5 }}  {{  form.measure5 }}  {{  form.ingredient_prep5 }} </div> 
        <div class="list">{{  form.ingredient6 }}  {{  form.ingredient_alt6 }}  {{  form.amount6 }}  {{  form.measure6 }}  {{  form.ingredient_prep6 }} </div> 
        <div class="list">{{  form.ingredient7 }}  {{  form.ingredient_alt7 }}  {{  form.amount7 }}  {{  form.measure7 }}  {{  form.ingredient_prep7 }} </div> 
        <div class="list">{{  form.ingredient8 }}  {{  form.ingredient_alt8 }}  {{  form.amount8 }}  {{  form.measure8 }}  {{  form.ingredient_prep8 }} </div> 
        <div class="list">{{  form.ingredient9 }}  {{  form.ingredient_alt9 }}  {{  form.amount9 }}  {{  form.measure9 }}  {{  form.ingredient_prep9 }} </div> 
        <div class="list">{{  form.ingredient10 }}  {{  form.ingredient_alt10 }}  {{  form.amount10 }}  {{  form.measure10 }}  {{  form.ingredient_prep10 }} </div> 
        <div class="list">{{  form.ingredient11 }}  {{  form.ingredient_alt11 }}  {{  form.amount11 }}  {{  form.measure11 }}  {{  form.ingredient_prep11 }} </div> 
        <div class="list">{{  form.ingredient12 }}  {{  form.ingredient_alt12 }}  {{  form.amount12 }}  {{  form.measure12 }}  {{  form.ingredient_prep12 }} </div> 
        <div class="list">{{  form.ingredient13 }}  {{  form.ingredient_alt13 }}  {{  form.amount13 }}  {{  form.measure13 }}  {{  form.ingredient_prep13 }} </div> 
        <div class="list">{{  form.ingredient14 }}  {{  form.ingredient_alt14 }}  {{  form.amount14 }}  {{  form.measure14 }}  {{  form.ingredient_prep14 }} </div> 
        <div class="list">{{  form.ingredient15 }}  {{  form.ingredient_alt15 }}  {{  form.amount15 }}  {{  form.measure15 }}  {{  form.ingredient_prep15 }} </div> 
        <div class="list">{{  form.ingredient16 }}  {{  form.ingredient_alt16 }}  {{  form.amount16 }}  {{  form.measure16 }}  {{  form.ingredient_prep16 }} </div> 
        <div class="list">{{  form.ingredient17 }}  {{  form.ingredient_alt17 }}  {{  form.amount17 }}  {{  form.measure17 }}  {{  form.ingredient_prep17 }} </div> 
        <div class="list">{{  form.ingredient18 }}  {{  form.ingredient_alt18 }}  {{  form.amount18 }}  {{  form.measure18 }}  {{  form.ingredient_prep18 }} </div> 
        <div class="list">{{  form.ingredient19 }}  {{  form.ingredient_alt19 }}  {{  form.amount19 }}  {{  form.measure19 }}  {{  form.ingredient_prep19 }} </div> 
        <div class="list">{{  form.ingredient20 }}  {{  form.ingredient_alt20 }}  {{  form.amount20 }}  {{  form.measure20 }}  {{  form.ingredient_prep20 }} </div> 
        <div class="list">{{  form.ingredient21 }}  {{  form.ingredient_alt21 }}  {{  form.amount21 }}  {{  form.measure21 }}  {{  form.ingredient_prep21 }} </div> 
        <div class="list">{{  form.ingredient22 }}  {{  form.ingredient_alt22 }}  {{  form.amount22 }}  {{  form.measure22 }}  {{  form.ingredient_prep22 }} </div> 
        <div class="list">{{  form.ingredient23 }}  {{  form.ingredient_alt23 }}  {{  form.amount23 }}  {{  form.measure23 }}  {{  form.ingredient_prep23 }} </div> 
        <div class="list">{{  form.ingredient24 }}  {{  form.ingredient_alt24 }}  {{  form.amount24 }}  {{  form.measure24 }}  {{  form.ingredient_prep24 }} </div> 
        <div class="list">{{  form.ingredient25 }}  {{  form.ingredient_alt25 }}  {{  form.amount25 }}  {{  form.measure25 }}  {{  form.ingredient_prep25 }} </div> 
        <div class="list">{{  form.ingredient26 }}  {{  form.ingredient_alt26 }}  {{  form.amount26 }}  {{  form.measure26 }}  {{  form.ingredient_prep26 }} </div> 
        <div class="list">{{  form.ingredient27 }}  {{  form.ingredient_alt27 }}  {{  form.amount27 }}  {{  form.measure27 }}  {{  form.ingredient_prep27 }} </div> 
        <div class="list">{{  form.ingredient28 }}  {{  form.ingredient_alt28 }}  {{  form.amount28 }}  {{  form.measure28 }}  {{  form.ingredient_prep28 }} </div> 
        <div class="list">{{  form.ingredient29 }}  {{  form.ingredient_alt29 }}  {{  form.amount29 }}  {{  form.measure29 }}  {{  form.ingredient_prep29 }} </div> 
        <div class="list">{{  form.ingredient30 }}  {{  form.ingredient_alt30 }}  {{  form.amount30 }}  {{  form.measure30 }}  {{  form.ingredient_prep30 }} </div> 
        <br>
        <p></p>
  
        <div class="list1">{{  form.method1.label }} {{  form.method1(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method2(size=150)}} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method3(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method4(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method5(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method6(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method7(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method8(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method9(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method10(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method11(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method12(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method13(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method14(size=150) }} </div> 
        <div class="list1">{{  form.method1.label }} {{  form.method15(size=150) }} </div> 
        <br>
        <p></p>
        <p>{{  form.submit }} </p>
        </form>
    {% endif %}
    {% if recipe %}
        <h2>Recipe created</h2>
        {{ recipe.recipe_name}}
        <p></p>
    {% endif %}
    {% if duplicate %}
        <h2>Recipe not created</h2>
        <p><b>Recipe name was a duplicate please alter the recipe name or check recipe not already in database.</b></p>
    {% endif %}
</div>
{% endblock body %}