{% extends 'layout.html'%}

{% block body %}
<div style="padding-left:40px">
    {% if form %}
        <h1 style="position:relative; left:20vw">Add a Ingredients and Method Steps</h1>
        <form method = 'POST'>
        <div class = "container">
            <h1 style="position: fixed; top:150px; left:30px">{{ recipe }}</h1>
            <div id="ing-input">
                {% from "_formhelpers.html" import render_field %}
                {% for ingredient_field in form.ingredients %}
                {{ ingredient_field.hidden_tag() }}
                {{ render_field(ingredient_field) }}
                {% endfor %}
            </div>
            <div id="method-input">
                {{ form.method.label }}
                {{ form.method (cols="40", rows="40") }}
            </div>
        <p style="position: fixed; bottom: 15px; right:30px;">{{ form.submit }} </p>
        </form>
    {% endif %}
    {% if done %}
        <h2>Details Added</h2>
        <p></p>
    {% endif %}
{% endblock body %}