{% extends 'layout.html'%}

{% block body %}

{{ form.hidden_tag() }}
{% if form %}
<form method = 'POST'>
<div class="field">
    {{ form.cuisine.label }} {{ form.cuisine }}
</div>
<div class="field">
    {{ form.ingredient.label }} {{ form.ingredient }}
</div>
<div class="field">
    {{ form.measure.label }} {{ form.measure }}
</div>
<div class="field">
    {{ form.submit }}
</div>
</form>
{% endif %}
{% if ingredient != "" %}
<div class="field">
    <p>ingredient added:</p>{{ ingredient }}
</div>
{% endif %}
{% if cuisine != "" %}
<div class="field">
    <p>cuisine added</p> {{ cuisine }}
</div>
{% endif %}
{% if measure != "" %}
<div class="field">
    <p>measurement added added</p> {{ measure }}
</div>
{% endif %}
{% endblock %}