{% extends 'layout.html'%}

{% block body %}
<div style="padding-left:40px">
    {% if form %}
        <h1>Add a Recipe</h1>
        <form method = 'POST'>
        <p>{{  form.hidden_tag() }}
        <br>
        <div class="field">
            <p>{{  form.name.label }}</p> <p>{{  form.name }}</p>
        </div>
        <div class="field">
            <p>{{  form.recipe_description.label }}</p> <p>{{  form.recipe_description }}</p>
        </div>
        <div class="field">
            <p>{{  form.cuisine.label }}</p> <p>{{  form.cuisine }}</p>
        </div>
        <div class = "container">
            <div>
                {% from "_formhelpers.html" import render_field %}
                {% for ingredient_field in form.ingredients %}
                {{ ingredient_field.hidden_tag() }}
                {{ render_field(ingredient_field) }}
                {% endfor %}
            </div>
            <div>
                {% from "_formhelpers.html" import render_field %}
                {% for method_field in form.methods %}
                {{ method_field.hidden_tag() }}
                {{ render_field(method_field) }}
                {% endfor %}
            </div>
        <p>{{  form.submit }} </p>
        </form>
    {% endif %}
    {% if recipe %}
        <h2>Recipe created</h2>
        {{ recipe.recipe_name}}
        <p></p>
    {% endif %}
    {% if duplicate %}
        <h2>Recipe not created</h2>
        <p><b>Recipe name was a duplicate please alter the recipe name or check recipe not already in database.</b></p>
    {% endif %}
</div>
{% endblock body %}