{% extends 'layout.html'%}
{% block body %}

</script>
<form method="POST">
    <button>Week 1</button><button>Week 2</button>

    <h2>
        Amend shopping list if needed
    </h2>
    <div id="innercntr">
        <div>
            {% for ingredient in sidebar.shopping_list %}
            <div class="field">
                {{ ingredient[0]}}
                {{ ingredient[1]}}
                {{ ingredient[2]}}
            </div>
        {% endfor %}
        </div>
        <div>
            {% from "_formhelpers.html" import render_field %}
            {% for amount_form in form.ingredients %}
            {{ amount_form.hidden_tag() }}
            {{ render_field(amount_form) }}
            {% endfor %}
        </div>
    </div>
    {{ form.submit }}
</form>
{% endblock body %}