{% extends 'layout.html'%}
{% block body %}

</script>
<form method="POST">
    <h2>
        Amend shopping list if needed
    </h2>
    <div>
        {% if sched_no == '1' %}
        <h4>
            Schedule for week 1
        </h4>
        {% elif sched_no == '2' %}
        <h4>
            Schedule for week 2
        </h4>
        {% endif %}
    </div>
    <h3>
        enter new amount or enter 0 to delete ingredient from shopping list
    </h3>
    <div id="innercntr">
        <div>
            {% if sched_no == 1 %}
                {% from "_formhelpers.html" import render_field %}
                {% set count = namespace(value=0) %}
                {% for amount_form in form.ingredients %}
                <div class="field">
                    {{ sidebar.shopping_list[0][count.value][0]}}
                    {{ sidebar.shopping_list[0][count.value][1]}}
                    {{ sidebar.shopping_list[0][count.value][2]}}
                    {{ amount_form.hidden_tag() }}
                    {{ render_field(amount_form) }}
                    {% set count.value = count.value + 1 %}
                </div>
                {% endfor %}
            {% elif sched_no == 2 %}
            {% from "_formhelpers.html" import render_field %}
            {% set count = namespace(value=0) %}
            {% for amount_form in form.ingredients %}
            <div class="field">
                {{ sidebar.shopping_list[1][count.value][0]}}
                {{ sidebar.shopping_list[1][count.value][1]}}
                {{ sidebar.shopping_list[1][count.value][2]}}
                {{ amount_form.hidden_tag() }}
                {{ render_field(amount_form) }}
                {% set count.value = count.value + 1 %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {{ form.submit }}
</form>
{% endblock body %}



