{% extends 'layout.html'%}

{% block body %}
<form method="POST">
{% if mon %}
<div class = 'field'>
    {{ mon }} {{ form.monday_cb.label }} {{ form.monday_cb }} {{ form.monday_recipe.label }} {{ form.monday_recipe }}
</div>
<div class='field'>
    {{ tue }} {{ form.tuesday_cb.label }} {{ form.tuesday_cb }} {{ form.tuesday_recipe.label }} {{ form.tuesday_recipe }}
</div>
<div class='field'>
    {{ wed }} {{ form.wednesday_cb.label }} {{ form.wednesday_cb }} {{ form.wednesday_recipe.label }} {{ form.wednesday_recipe }}
</div>
<div class='field'>
    {{ thu }} {{ form.thursday_cb.label }} {{ form.thursday_cb }} {{ form.thursday_recipe.label }} {{ form.thursday_recipe }}
</div>
<div class='field'>
    {{ fri }} {{ form.friday_cb.label }} {{ form.friday_cb }} {{ form.friday_recipe.label }} {{ form.friday_recipe }}
</div>
{{form.submit_recipes}}
{% endif %}
{% if aggregated_ingredient_list %}
    <h1>Schedule created</h1>
    <h2>Shopping List</h2>
    {% for item in aggregated_ingredient_list %}
        <div class = "field">
            {{ item.ingredient_id }}  
            {{ item.amount }} 
            {{ item.measure_id }}
        </div>
    {% endfor %}
{% endif %}
</form>
{% endblock body %}