<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Planner App</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="../static/format.css" rel="stylesheet">
</head>
<body style="font-family: Source Sans Pro, sans-serif">
    <div class="header" >
        <div style="display:flex; justify-content: space-between;">
            <h1 style="color:rgb(0, 0, 0); font-size:50px; margin-left: 10px"> Recipe Planner</h1>
            <p style="align-self:right; margin-right: 10px;">{{ user }}</p>
        </div>
        <div id = "links">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}" class="link">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}" class="link">Logout</a>
            {% endif %}
            <a href="{{ url_for('index') }}" class="link">Home</a>
            <a href="{{ url_for('show_schedule') }}" class="link">Show schedules</a>
            <a href="{{ url_for('create_weekly_schedule') }}" class="link"> Create Schedule</a> 
            <a href="{{ url_for('add_recipe') }}" class="link">Add a Recipe</a>
            <a href="{{ url_for('search_recipes') }}" class="link">Search for a Recipe</a>
            <a href="{{ url_for('add_meta') }}" class="link">Add meta data</a>
            {% if current_user.username == "admin" %}
            <a href="{{ url_for('delete_recipe') }}" class="link"> Delete a Recipe</a>
            {% endif %}
        </div>
    </div>
<form method="POST">
{% if mon %}
<div class = 'field4'>
    {{ mon }} {{ form.monday_cb.label }} {{ form.monday_cb }} {{ form.monday_recipe.label }} {{ form.monday_recipe }}
</div>
<div class='field4'>
    {{ tue }} {{ form.tuesday_cb.label }} {{ form.tuesday_cb }} {{ form.tuesday_recipe.label }} {{ form.tuesday_recipe }}
</div>
<div class='field4'>
    {{ wed }} {{ form.wednesday_cb.label }} {{ form.wednesday_cb }} {{ form.wednesday_recipe.label }} {{ form.wednesday_recipe }}
</div>
<div class='field4'>
    {{ thu }} {{ form.thursday_cb.label }} {{ form.thursday_cb }} {{ form.thursday_recipe.label }} {{ form.thursday_recipe }}
</div>
<div class='field4'>
    {{ fri }} {{ form.friday_cb.label }} {{ form.friday_cb }} {{ form.friday_recipe.label }} {{ form.friday_recipe }}
</div>
{{form.submit_recipes (class_="button") }}
{% endif %}
{% if aggregated_ingredient_list %}
    <h1>Schedule created</h1>
    <h2>Shopping List</h2>
    {% for item in aggregated_ingredient_list %}
        <div class = "field">
            {{ item.ingredient_id }}  
            {{ item.amount }} 
            {{ item.measure_id }}
        </div>
    {% endfor %}
{% endif %}
</form>
<div>
    {% if sched_no == 1 %}
    <h4>
        Schedule for week 1
    </h4>
    {% elif sched_no == 2 %}
    <h4>
        Schedule for week 2
    </h4>
    {% endif %}
</div>
