{% extends 'layout.html'%}

{% block body %}
<div class = 'field'>
    {{ weekly_schedule[0] }} <p>keep?</p> {{ monday_cb }} {{ form.monday_recipe.label }} {{ form.monday_recipe }}
</div>
<div class='field'>
    {{ weekly schedule[1] }} <p>keep?</p> {{ tuesday_cb }} {{ form.tuesday_recipe.label }} {{ form.tuesday_recipe }}
</div>
<div class='field'>
    {{ weekly schedule[2] }} <p>keep?</p> {{ wednesday_cb }} {{ form.wednesday_recipe.label }} {{ form.wednesday_recipe }}
</div>
<div class='field'>
    {{ weekly schedule[3] }} <p>keep?</p> {{ thursday_cb }} {{ form.thursday_recipe.label }} {{ form.thursday_recipe }}
</div>
<div class='field'>
    {{ weekly schedule[4] }} <p>keep?</p> {{ friday_cb }} {{ form.friday_recipe.label }} {{ form.friday_recipe }}
</div>
{{form.submit_recipes}}
{% endblock body %}