{% extends 'layout.html'%}

{% block body %}
    <div id="hdr">    
        <h1>Today's Recipe</h1> <p<b>Total Number of Recipes:</b> {{ total_number }}<p> 
    </div>
    {% if weekend == False: %}
    <div id="innercntr">
    <div id="main">
        <div class='field2'>
            <h1>{{ daily_recipe.recipe_name }}</h1> <p>({{ cuisine }})</p>
        </div>
        <b>{{ daily_recipe.recipe_description }}</b> 
        <h2>How To make</h2>
        <ul>
            {% for m in method_list %}
            <li>{{ m }}</li><br>
            {% endfor %}
        </ul>
    </div>
    <div id="right">
            <h2>Ingredients</h2>
            {% for q in ingredient_list %}
            <div class = "field">
                {{ q[0] }}
                {{ q[1] }}
                {{ q[2] }}
                {{ q[3] }}
            </div>
            {% endfor %}
    </div>
    {% endif %}
    {% if weekend == True %}
    <h1> It's the weekend, drink and be merry. (or pick a recipe from the <a href="{{ url_for('search_recipes') }}" style="color:black">search page)</a></h1>
    {% endif %}
</div>
{% endblock body %}

