<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Planner App</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="../static/format.css" rel="stylesheet">
</head>
<style>
    a {color:rgb(0, 0, 0)}
</style>
<body style="font-family: Source Sans Pro, sans-serif">
    <div class="header" >
        <div style="display:flex; justify-content: space-between;">
            <h1 style="color:rgb(0, 0, 0); font-size:50px; margin-left: 10px"> Recipe Planner App</h1>
            <p style="align-self:right; margin-right: 10px;">{{ current_user.username }}</p>
        </div>
        <div id = "links">
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('show_schedule') }}">Show schedules</a>
            <a href="{{ url_for('create_weekly_schedule') }}"> Create Schedule</a> 
            <a href="{{ url_for('add_recipe') }}">Add a Recipe</a>
            <a href="{{ url_for('search_recipes') }}">Search for a Recipe</a>
            <a href="{{ url_for('add_meta') }}">Add meta data</a>
            {% if current_user.username == "admin" %}
            <a href="{{ url_for('delete_recipe') }}"> Delete a Recipe</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div id="left">
            {% if sidebar != False %}
            <p><b>Today's Recipe:</b></p>
            {{ sidebar.recipe_of_the_day }}
            <p><b>Monday:</b></p> 
            {{ sidebar.week[0][0].recipe_name }} 
            <p><b>Tuesday:</b></p> 
            {{ sidebar.week[0][1].recipe_name }}
            <p><b>Wednesday:</b></p> 
            {{ sidebar.week[0][2].recipe_name }}
            <p><b>Thursday:</b></p> 
            {{ sidebar.week[0][3].recipe_name }}
            <p><b>Friday:</b></p> 
            {{ sidebar.week[0][4].recipe_name }}
            {% else %}
            <p>No Schedule Set</p>
            {% endif %}
        </div>
        <div id="center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}        
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</body>
</html>